**/__pycache__/*
.env

# rust
target/

*.json
*.txt
!perf/samples/stap/trace-summary.stap.txt
kv-db/bench_pebble_*/*
mycrypto/target/*
perf/target/*
perf/out/*


## quint
security/formal-spec/_apalache-out

## TEE
eth/notes/tee/target

## FHE
fhe/target

## notes
**/.run